@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
}

#result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
    overflow-y: scroll;
    height: 100%;
}

#result::-webkit-scrollbar {
    width: 1rem;
}